<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">CrossfitOurense</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/inscripcion">Inscripción</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/listado-inscripciones">Ver Inscripciones</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="clientes" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/agregar-cliente">Agregar</a>
            </li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" routerLink="/listado-clientes">Ver Cliente</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/precios">Precios</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="reportes" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Suscripciones Diarias</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Suscripciones Mensuales</a></li>
            <li><a class="dropdown-item" href="#">Mas Vendidas</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <button class="btn btn-danger" (click)="logout()">Salir</button>
</nav>
